
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 15px;
  color: #666;
  background: #fafafa;
}

#header > h1 {
  margin-top: 0;
  margin-bottom: 10px;
}

#content {
  border: 1px solid #999;
  margin-bottom: 60px;
  background: #fff;
  padding: 10px;
}

.page-base64 #textarea {
  font-family: monospace;
  margin-bottom: 10px;
}

.page-base64 #history {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #eee;
}
